# Intro to Python

(shift+Enter to "run" the cell)

Lists:

- Item 1
- Item 2
- Item 3

In [1]:
# Hello world -- # denotes a one-line comment in Python
print("Hello, world!")

# Python is a dynamically typed language
# means variables have types

x = 10

print(x)
print(type(x))

x = "Hello"

print(x)
print(type(x))

Hello, world!
10
<class 'int'>
Hello
<class 'str'>

## Built-in types

In [2]:
# Useful types in Python
# - integers
x = 10

# - floats
x = 10.5

# - Strings, behave like char[]
x = "hello"

print(x[3]) # index strings
print(x + " world") # concat

# f-strings look like f"format string" where format string may contain expressions enclosed by {...}
print(f"hello {10 + 5}")

# - Lists
x = [1,2,3,4,5]

print(f"the array x is {x}")
print(f"the length of x is {len(x)}") # get the length
print(x[2])   # 0-based indexing
print(x[2:4]) # x[a:b] gets the sub-list of x[a, a+1, ..., b-1]
print(x[:3])  # x[:b] gets x[0, 1, ..., b-1]
print(x[3:])  # x[b:] gets x[b, b+1, ..., len(x)-1]

# - Tuples
x = (1,2,3,4,5)

# - Dictionary: like a c++ map but where keys/values don't have to all have same types
#   is a set of key-value pairs
d = {
    'key1': 134,
    2: 2,
    3.5: "hello"
}

print(d)
print(f"d['key1'] has value {d['key1']}")

l
hello world
hello 15
the array x is [1, 2, 3, 4, 5]
the length of x is 5
3
[3, 4]
[1, 2, 3]
[4, 5]
{'key1': 134, 2: 2, 3.5: 'hello'}
d['key1'] has value 134

## Control Flow

In [3]:
# Conditionals
# if < conditional >:
# <tab or spaces><line 1 of body>
# ...
# <following expression without indentation

x = 10
y = 15

if x < y:
    print("hello")
    while x < y:
        print("Enlarging x...")
        x += 1 # sadly, no ++, -- operators :(
else:
    print("goodbye")

print("more output")

x = [1, "two", 3, "four"]

if 1 in x:
    print("yes")
else:
    print("no")

hello
Enlarging x...
Enlarging x...
Enlarging x...
Enlarging x...
Enlarging x...
more output
yes

In [4]:
# for loops do not take three blocks to run i.e. not for(init; condition; update)
print(x) # x still exists because of the blocks up above!
countries = ["US", "Canada", "Mexico", "France", "England"]

name = "Marina"

# use an iterator to the array
for country in countries:
    print(country)
    #print(name)
    country += "abcd"
    print(country)
    
print(countries.index("US"))

[1, 'two', 3, 'four']
US
USabcd
Canada
Canadaabcd
Mexico
Mexicoabcd
France
Franceabcd
England
Englandabcd
0

In [5]:
# enumerate(.) function takes a list an creates 
# associations between list elements and their index

for i in enumerate(countries):
    #print(i)
    #print(i[0]) # gets first element of the tuple
    #print(i[1]) # second element
    #i[1] += "abcd" # won't work because tuples are immutable and still just a copy
    countries[i[0]] += "abcd"
    #print(i[1])
    
print(countries)
#for i, country in enumerate(countries):

['USabcd', 'Canadaabcd', 'Mexicoabcd', 'Franceabcd', 'Englandabcd']

In [6]:
# Tangent: multiple assignment

nums = (5,3,4,1)
a,b,_,d = nums
print(a)
print(d)

5
1

In [7]:
# enumerate(.) function takes a list an creates 
# associations between list elements and their index

# can also "trow away" values for efficiency with "_" in place of variable
# for i, _ in enumerate(countries): # ignores the second value in each tuple
for i, country in enumerate(countries):
    #print(i)
    #print(i[0]) # gets first element of the tuple
    #print(i[1]) # second element
    #i[1] += "abcd" # won't work because tuples are immutable and still just a copy
    countries[i] += "abcd"
    #print(i[1])
    
print(countries)
#for i, country in enumerate(countries):

['USabcdabcd', 'Canadaabcdabcd', 'Mexicoabcdabcd', 'Franceabcdabcd', 'Englandabcdabcd']

In [8]:
d = {
    'key1': 134,
    'key1': 3454,
    2: 2,
    3.5: "hello",
    "goodbye": [1,2,3,4]
}

for i in d:
    print(f"d[{i}] has value {d[i]}")
    
print(d["goodbye"][3])

d[key1] has value 3454
d[2] has value 2
d[3.5] has value hello
d[goodbye] has value [1, 2, 3, 4]
4

In [9]:
a = "hello"
b = "hello"
if a == b:
    print('true')

true

In [10]:
x = 100
if x == 100 or 5 < 6:           # is keyword works like == but compares actual pointers
    print("x is 100")

x is 100

In [11]:
x = 15 if 100 % 2 == 0 else 10  # like in c++ we can do x = 100 % 2 == 0 ? 15 : 10
print(x)

15

In [12]:
# Next time... list comprehension, functions, classes

## Functions

In [13]:
# defined with the "def" keyword followed by the function name, then list of parameters, then :
# def funcName(param1,...):
#    <body of function>

def add(x, y):
    return x + y

print(add(10.5,15))

print([1,2,3] + [3,4,4]) # + on lists does concat

print(add([1,12,3], [4,4,5]))

def printstuff(x):
    print(x)
    
x = printstuff(4)
print(x)

25.5
[1, 2, 3, 3, 4, 4]
[1, 12, 3, 4, 4, 5]
4
None

Python has a `None` type, taking the place of "no value" -- this takes no place in memory, etc.

In [14]:
# Type casting: can cast objects to types by calling class constructors:
x = 10
y = "hello " + str(x)
print(y)

#print(int(None))

x = printstuff(4)
if x is None:
    print("Error: function did not return")

hello 10
4
Error: function did not return

In [15]:
# parameters in functions:
# come in two types: ordered and named
# and, all can have default values

# a has default value of 10, meaning user can not provide it at function call time
def myFunction(b, a=10, c="hello"):
    print(f"a: {a}")
    print(f"b: {b}")
    print(f"c: {c}")
    
myFunction("hello")
myFunction("hello", 15, 60)
myFunction(a=10,c=20,b=30)
myFunction(c=20,b=30)

myFunction(c=20,b=30,a={'1':1,'2':2,'3':3})

myFunction(b=myFunction)

a: 10
b: hello
c: hello
a: 15
b: hello
c: 60
a: 10
b: 30
c: 20
a: 10
b: 30
c: 20
a: {'1': 1, '2': 2, '3': 3}
b: 30
c: 20
a: 10
b: <function myFunction at 0x10a04b550>
c: hello

In [16]:
print(myFunction)

<function myFunction at 0x10a04b550>

In [17]:
def callFunc(f):
    f(10,20,30)

In [18]:
callFunc(myFunction)

a: 20
b: 10
c: 30

In [19]:
class MyClass:
    # constructor is always __init__(self, class params)
    # every instance method must have a parameter to hold a reference to the current object
    
    counter = 0
    
    def __init__(self,a,b,c):
        # instead of the "this" keyword as in C++/Java we use "self" -- this is customizable
        self.a = a
        self.b = b
        self.c = c
        MyClass.counter += 1
        
    def __str__(self):
        return f'a: {self.a}, b: {self.b}, c: {self.c}'
        
    # instance function
    def instanceFunct(self):
        print(f"Hello from {self}")
        print(f"My a is {self.a}")
        print(f"My b is {self.b}")
        print(f"My c is {self.c}")
        
    # class function, no "self" needed
    def classFunction():
        print(f"Hello from class!")

In [20]:
a = MyClass(10,20,30)

In [21]:
print(a)

a: 10, b: 20, c: 30

In [22]:
a.instanceFunct()

Hello from a: 10, b: 20, c: 30
My a is 10
My b is 20
My c is 30

In [23]:
b = MyClass("hello", 30, [1,2,3])
b.instanceFunct()

Hello from a: hello, b: 30, c: [1, 2, 3]
My a is hello
My b is 30
My c is [1, 2, 3]

In [24]:
MyClass.classFunction()

Hello from class!

In [25]:
MyClass.instanceFunct(a)  # long-form of a.instanceFunct()

Hello from a: 10, b: 20, c: 30
My a is 10
My b is 20
My c is 30

In [26]:
MyClass.counter

2

In [27]:
dir(a)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'a',
 'b',
 'c',
 'classFunction',
 'counter',
 'instanceFunct']

In [28]:
a.counter

2

In [29]:
b.counter

2

In [30]:
people = [
    'Alice',
    'Bob',
    'Carl',
    'Dana'
]

In [31]:
grades = [
    'A', 'B', 'B', 'A'
]

In [32]:
# if we want to join lists of same length in pairwise fashion, we can!
# zip creates the iterable object
# list() casts to a list to use
people_grades = list(zip(people,grades))

In [33]:
print(people_grades)

[('Alice', 'A'), ('Bob', 'B'), ('Carl', 'B'), ('Dana', 'A')]

In [34]:
print(range(1,10))
print(list(range(1,10)))

for i in range(1,10):
    print(i**2)

range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
4
9
16
25
36
49
64
81

In [35]:
result = []
if len(people) == len(grades):
    for i in range(len(people)): # will go from 0, 1, ..., len(people)-1
        result += [ (people[i], grades[i]) ] # make a list of a single element and concat to the result list
    print(result)
else:
    print("Error: lists must be same length")

[('Alice', 'A'), ('Bob', 'B'), ('Carl', 'B'), ('Dana', 'A')]

In [36]:
# list comprehension -- used to build lists quickly
# [ <expression> for <iteration> ] 
# results in [ <exp at first iteration>, <second iteration>, ..., <last iteration>]

result = [ (people[i], grades[i]) for i in range(len(people))]
print(result)

[('Alice', 'A'), ('Bob', 'B'), ('Carl', 'B'), ('Dana', 'A')]

In [37]:
people_grades = { people[i]: grades[i] for i in range(len(people))}

In [38]:
print(people_grades)

{'Alice': 'A', 'Bob': 'B', 'Carl': 'B', 'Dana': 'A'}

In [39]:
people_grades['Bob']

'B'

In [40]:
[1,2,3] * [4,5,6]

TypeError: can't multiply sequence by non-int of type 'list'

In [41]:
# list comprehension/for loops in general support conditionals
city_names = ['Salisbury', 'Oxford', 'Cambridge', 'Berlin', 'Ocean City', 'Snow Hill']
cities = [{"id": i, "name": n} for (i,n) in enumerate(city_names)]
"""
what this does, in c-style procedure:
cities = []
for every pair (i, n) in list of index/pairs of city_names
  cities += [ {id: i, name: n} ]
"""
cities

[{'id': 0, 'name': 'Salisbury'},
 {'id': 1, 'name': 'Oxford'},
 {'id': 2, 'name': 'Cambridge'},
 {'id': 3, 'name': 'Berlin'},
 {'id': 4, 'name': 'Ocean City'},
 {'id': 5, 'name': 'Snow Hill'}]

In [42]:
# now about for-loop filtering/conditionals
cities_id_bigger_than_2 = []
for c in cities:
    if c['id'] > 2:
        cities_id_bigger_than_2 += [c['name']]
print(cities_id_bigger_than_2)

['Berlin', 'Ocean City', 'Snow Hill']

In [43]:
# now about comprehension filtering/conditionals
[c['name'] for c in cities if c['id'] > 2 and c['name'][0] > 'C']

['Ocean City', 'Snow Hill']

In [44]:
[(c1['name'], c2['name']) 
  for c1 in cities if c1['id'] > 2
  for c2 in cities]

[('Berlin', 'Salisbury'),
 ('Berlin', 'Oxford'),
 ('Berlin', 'Cambridge'),
 ('Berlin', 'Berlin'),
 ('Berlin', 'Ocean City'),
 ('Berlin', 'Snow Hill'),
 ('Ocean City', 'Salisbury'),
 ('Ocean City', 'Oxford'),
 ('Ocean City', 'Cambridge'),
 ('Ocean City', 'Berlin'),
 ('Ocean City', 'Ocean City'),
 ('Ocean City', 'Snow Hill'),
 ('Snow Hill', 'Salisbury'),
 ('Snow Hill', 'Oxford'),
 ('Snow Hill', 'Cambridge'),
 ('Snow Hill', 'Berlin'),
 ('Snow Hill', 'Ocean City'),
 ('Snow Hill', 'Snow Hill')]

In [45]:
def cartesian_product(list1, list2):
    # build a list of tuples, pairing up every element from list1 to list2
    return [(l1, l2) 
      for l1 in list1
      for l2 in list2]

In [46]:
lattice = cartesian_product([1,2,3], [9,8,5])
lattice

[(1, 9), (1, 8), (1, 5), (2, 9), (2, 8), (2, 5), (3, 9), (3, 8), (3, 5)]

In [47]:
cartesian_product([c['name'] for c in cities], [c['name'] for c in cities])

[('Salisbury', 'Salisbury'),
 ('Salisbury', 'Oxford'),
 ('Salisbury', 'Cambridge'),
 ('Salisbury', 'Berlin'),
 ('Salisbury', 'Ocean City'),
 ('Salisbury', 'Snow Hill'),
 ('Oxford', 'Salisbury'),
 ('Oxford', 'Oxford'),
 ('Oxford', 'Cambridge'),
 ('Oxford', 'Berlin'),
 ('Oxford', 'Ocean City'),
 ('Oxford', 'Snow Hill'),
 ('Cambridge', 'Salisbury'),
 ('Cambridge', 'Oxford'),
 ('Cambridge', 'Cambridge'),
 ('Cambridge', 'Berlin'),
 ('Cambridge', 'Ocean City'),
 ('Cambridge', 'Snow Hill'),
 ('Berlin', 'Salisbury'),
 ('Berlin', 'Oxford'),
 ('Berlin', 'Cambridge'),
 ('Berlin', 'Berlin'),
 ('Berlin', 'Ocean City'),
 ('Berlin', 'Snow Hill'),
 ('Ocean City', 'Salisbury'),
 ('Ocean City', 'Oxford'),
 ('Ocean City', 'Cambridge'),
 ('Ocean City', 'Berlin'),
 ('Ocean City', 'Ocean City'),
 ('Ocean City', 'Snow Hill'),
 ('Snow Hill', 'Salisbury'),
 ('Snow Hill', 'Oxford'),
 ('Snow Hill', 'Cambridge'),
 ('Snow Hill', 'Berlin'),
 ('Snow Hill', 'Ocean City'),
 ('Snow Hill', 'Snow Hill')]

In [48]:
cities

[{'id': 0, 'name': 'Salisbury'},
 {'id': 1, 'name': 'Oxford'},
 {'id': 2, 'name': 'Cambridge'},
 {'id': 3, 'name': 'Berlin'},
 {'id': 4, 'name': 'Ocean City'},
 {'id': 5, 'name': 'Snow Hill'}]

In [49]:
people = [{
    'id': i,
    'name': n
} for (i,n) in enumerate(['Kalyn', 'Chloe', 'Theodore', 'Nathan'])]

In [50]:
people

[{'id': 0, 'name': 'Kalyn'},
 {'id': 1, 'name': 'Chloe'},
 {'id': 2, 'name': 'Theodore'},
 {'id': 3, 'name': 'Nathan'}]

In [51]:
people_cities = [(0,0), (1, 4), (2, 3), (3, 4)]
people_cities

[(0, 0), (1, 4), (2, 3), (3, 4)]

In [52]:
def person_name(id):
    # given a persons id, return their name
    for p in people:
        if p['id'] == id:
            return p['name']

In [53]:
person_name(3)

'Nathan'

In [54]:
# now write a function to report who lives in a given city
def who_lives_in(city_name):
    # find the id of city_name (assuming 'cities' and 'people' are a globally defined object)
    # could also take the cities as a param
    # Return: a array of strings representing the names of people
    #         who live in the city named city_name
    
    """
    the c++ version:
    for( int i = 0; i < cities.length; i++){
        if city_name == cities[i].name
            answer = i
            break;
    }
    """
    # return [i['id'] for (i,c) in enumerate(cities) if cities[i]['name'] == city_name][0]
    
    city_id = None
    for i in range(len(cities)):
        if cities[i]['name'] == city_name:
            city_id = cities[i]['id']
            break
    #print(f'{city_name} id is {city_id}')
    
    people_ids = [pc[0] for pc in people_cities if pc[1] == city_id]
    
    #print(f'the people ids in {city_name} are {people_ids}')
    
    #for id in people_ids:
    #    print(person_name(id))
    
    return [person_name(id) for id in people_ids]

In [55]:
print(f'{who_lives_in("Ocean City")} lives in Ocean City')

['Chloe', 'Nathan'] lives in Ocean City

In [56]:
" and ".join(who_lives_in('Ocean City'))

'Chloe and Nathan'

In [57]:
",".join([ str(i) for i in range(10)])

'0,1,2,3,4,5,6,7,8,9'

In [58]:
",".join(['word1', 'word2', 'word3'])

'word1,word2,word3'

In [59]:
"one,two,three".split(',')

['one', 'two', 'three']